# MacOS DS_Store files
.DS_Store

# Gradle cache folder
.gradle

# Gradle build folders (root + modules only; must not match *.build packages)
/build/
/core/build/
/mod/build/
/tools/build/

# IntelliJ
out/
.idea
*.iml
# mpeltonen/sbt-idea plugin
.idea_modules/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Common working directories (dev servers)
/run/
/run-server/
